@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

.navbar
  background: transparent !important
  box-shadow: none !important
+mobile
  .navbar-menu
    background: transparent !important