@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

.navbar
  background: transparent !important
  box-shadow: none !important
.navbar-name
  margin-left: 0.8rem
+mobile
  .navbar-menu
    background: transparent !important